<html>
    <head>
        <title>ejs</title>
    </head>
    <body>

        <h1>hello </h1>
        <% if (0) { %>
            <h1>je suis connecté</h1>
        <% } else { %>
            <h1>not connecté</h1>
        <% } %>


    <script src='/js/index.js' type='text/javascript'></script>

    </body>
</html>